body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-image: url("../public/img/bg/background.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    position: relative;
    z-index: 1;
}