.car-card {
    width: 250px;
    height: 250px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.9);
    background: linear-gradient(
        135deg, 
        rgba(157, 100, 57, 0.7) ,
        rgba(66, 149, 190, 0.7)
    );
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.car-card:hover {
    transform: scale(1.03);
}

.car-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.car-info {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.car-info h3 {
    margin: 10px 0;
}

.car-info p {
    margin: 5px 0;
}