.landing{
    height: 100vh;
    background-image: url("../../../public/img/bg/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.overlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

